# Model Training

## 1.1 Импорт данных и необходимых библиотек

In [10]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

#Preprocessing
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

# Modelling
from sklearn.metrics import mean_squared_error,mean_absolute_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [34]:
# Импорт scv файла в датафрейм
df = pd.read_csv('data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [35]:
# Добавим колонку total_score. Она и будет нашей целевой переменной
df['total_score'] = df['math_score'] + df['reading_score'] + df['writing_score']
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [36]:
# Разделим зависимые и целевую переменные
X = df.drop(['math_score', 'reading_score', 'writing_score', 'total_score'], axis=1)
y = df['total_score']

In [37]:
# Отделим категориальные переменные от непрерывных 
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

# Создание преобразователей для числовых и категориальных признаков
scaler = StandardScaler()
encoder = OneHotEncoder()

# Создание ColumnTransformer, объединяющего оба преобразователя
preprocessor = ColumnTransformer([("OneHotEncoder", encoder, cat_features),
                                  ("StandardScaler", scaler, num_features)])

In [38]:
# Предобрааботка данных
X = preprocessor.fit_transform(X)
X.shape

(1000, 17)

In [39]:
# Разделим данные на обучающую и тестовую выборки
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 17), (200, 17))

In [40]:
# Функция оценки, которая будет выдавать все показатели после обучения модели
def evaluate_model(y_test, y_pred):
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2_square = r2_score(y_test, y_pred)

    return mae, rmse, r2_square

In [41]:
# Словарь моделей с их экземплярами
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

# Список для хранения R2-значений моделей
r2_list =[]

# Итерация по моделям в словаре
for i, model in enumerate(models.values()):
    # Обучение модели на обучающих данных
    model.fit(X_train, y_train)

    # Получение предсказаний для обучающего и тестового наборов
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Оценка модели с использованием функции evaluate_model
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    # Вывод результатов для каждой модели
    print(list(models.keys())[i])
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 36.5870
- Mean Absolute Error: 29.8084
- R2 Score: 0.2543
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 40.2047
- Mean Absolute Error: 31.4705
- R2 Score: 0.1622
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 37.3079
- Mean Absolute Error: 30.1134
- R2 Score: 0.2246
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 41.1526
- Mean Absolute Error: 32.2553
- R2 Score: 0.1222
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 36.5871
- Mean Absolute Error: 29.8066
- R2 Score: 0.2543
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 40.2101
- Mean Absolute Error: 31.4788
- R2 Score: 0.1619
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 35.1715
- Mean Absolute Error: 28.6343
- R2 Score: 0.3109
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 44.2256
- Mean Absolute Error: 34.8590
- R2 Score: -0.0138
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 32.5942
- Mean Absolute Error: 25.8656
- R2 Score: 0.4082
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 45.5396
- Mean Absolute Error: 35.4542
- R2 Score: -0.0749
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 32.7792
- Mean Absolute Error: 26.3570
- R2 Score: 0.4014
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 44.6798
- Mean Absolute Error: 34.6887
- R2 Score: -0.0347
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 32.5944
- Mean Absolute Error: 25.8736
- R2 Score: 0.4082
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 45.4452
- Mean Absolute Error: 35.3522
- R2 Score: -0.0705
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 32.6310
- Mean Absolute Error: 26.0619
- R2 Score: 0.4068
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 44.8880
- Mean Absolute Error: 34.8929
- R2 Score: -0.0444
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 37.0652
- Mean Absolute Error: 30.1702
- R2 Score: 0.2347
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 41.8791
- Mean Absolute Error: 32.5505
- R2 Score: 0.0909
===================================